
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito:wght@300&display=swap');

:root{
    --corAzul: #143191;
    --corEquipeNaoEnviado:rgb(131, 132, 138);
    --font: 'Nunito', sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 242, 242);    
}

.larguraPageMain{
    text-align: center;
    min-width: 1000px;
    
    
}
#paginaToda{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1300px;
    min-height: 97vh;
    margin: 10px;
    border: 1px solid var(--corAzul);
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(20,25,80,1) 0%, rgba(255,255,255,1) 62%);
    box-shadow: 1px 1px 20px;
}

#cabecalho{
    display: flex;
    justify-content: end;
    padding: 10px;
    width: 90%;
    border-bottom: 1px solid var(--corAzul);
    margin: auto;
   
}

#logoDaoSilveira{
    margin-right: 5%;
    width: 10%;
}

/*-----CONFIGURAÇÃO DO NÚMERO DE EQUIPES-----------*/
.configEquipes{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    font-family: var(--font);
    margin: auto;
    border-bottom: 1px solid var(--corAzul) ;
    padding: 0.5rem;

    text-align: center;
}

.mensagemImportacao{
    display: flex;
}
.configEquipes button{
    border-radius: 5px;
    border: 1px solid;
    padding: 0.2rem 0.5rem ;
    font-family: var(--font);
    font-size: medium;
    
}
.configEquipes button:hover{
    transform: scale(1.05);
}
.configEquipes input{
    width: 60px;
    padding: 5px;
    height: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--corEquipeNaoEnviado);
    margin: 6px;
    
}

.configEquipes input[type="file"]{
    width: 250px;
    padding: 1px 3px 6px 3px ;
}

.alterarQdeEstoque{
    margin: 0px;
}

/*---- CONTAINER DAS EQUIPES -------*/
.grade-equipes {
    margin: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.equipe{
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    margin: 0.5rem;
    background-color: var(--corEquipeNaoEnviado);
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 5px 2px 10px;
    
}

.equipe input{
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid;
    margin: 2px 2px;
    padding: 2px 3px;
}

.equipe button{
    height: 20px;
    font-family: var(--font);
}
.equipe button:hover{
    transform: scale(1.1);
}


/*---PAINEL DE CONFIGURAÇÃO DO ARQUIVO UPLOAD (ITENS DO ESTOQUE)-----*/
.configFile {
    align-items: center;
    max-width: 200px;
    font-family: var(--font);
    margin: 5px 5px 5px 20px;
    
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}
.configFile input{
    text-align: center;
    font-size: large;
    font-family: var(--font);
    border-radius: 5px;
    margin: 5px;
    border: none;
    max-width: 30px;
}

.separador-config{
    display: flex;
    align-items: center;
    max-width: 100px;
    justify-content: space-between;
}
.separador-config button{
    border-radius: 5px;
    border: 1px solid;
    padding: 0.2rem 0.5rem ;
    font-family: var(--font);
    font-size: medium;
}
.separador-config button:hover{
    transform: scale(1.1);
}

.configFile-e-navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnVerEquipes{
    width: 100px;
    height: 30px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid ;
    font-family: var(--font);
    font-size: medium;
}
.btnVerEquipes:hover{
    transform: scale(1.1);
}
.btnListas{
    padding: 1rem 5rem;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid;
    font-family: var(--font);
    font-size: medium;
}

.btnListas:hover{
    transform: scale(1.1);
}

/*-----FOOTER----------*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 224, 228);
    width: 100%;
    height: 10vh;
    border-radius: 0px 0px 10px 10px;
}
#btnSair{
    width: 100px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid rgb(185, 201, 231);
    
}
#btnSair:hover{
    transform: scale(1.1);
    background-color: cadetblue;
    color: aliceblue;
    box-shadow: 5px 2px 10px #15171d;
}

.confi-equipes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.confi-equipes input{
    margin: 0%;
    
}