
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito:wght@300&display=swap');


body{
    margin: 0;
    padding: 0;
}

input[type="file"] {
    padding: 5px;
    background-color: rgb(43, 44, 34);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin: 0px 5px 5px 5px;
    width: 300px;
}

.btnEnviar{
    padding: 5px;
    margin: 10px 10px 10px 30px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #143191;
}
.btnEnviar:hover{
    background-color: rgb(185, 201, 231);
    transform: scale(1.1);
}

#cabecalho{
    display: flex;
    justify-content: end;
    padding: 10px;
    /*width: 100%;*/
    height: 10%;
    border-bottom: 2px solid #143191;
}

#logoDaoSilveira{
    margin-right: 5%;
    width: 10%;
}
.grade-equipes {
    margin: 2%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    
}

.equipe{
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}


